{% extends 'base.html.twig' %}

{% block title %}Fin de partie{% endblock %}

{% block body %}
    <h1>Fin de partie</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}
